<fieldset id="new_change_fieldset">
	<legend>New database change for <%=h activity %></legend>
  
	<%= form_for(change, :url => app_activity_changes_path(activity.app, activity)) do |f| %>
    <%= render :partial => "changes/form", :locals => {:f => f} %>
    <ul class="actions">
      <li><%= f.submit "Only Save", :class => 'button clean_button', :disabled => !activity.development?, :id => 'save_submit', :name => 'save_submit' %></li>
      <li><%= f.submit "Save & Execute", :class => 'button clean_button', :name => 'create_change_execute_button', :disabled => !activity.development? %></li>
    </ul>
	<% end %>
</fieldset>