<% content_for :view_external_js do %>
  <%= javascript_include_tag "syntaxhighlighter/shCore", "syntaxhighlighter/shBrushSql" %>
<% end %>

<% if defined?(deployment_results) && deployment_results %>
  <div class="span-24 last">
    <% if deployment_results.count > 0%>
      <div class="box" id="executed_sql_box">
        <h3>SQL deployment results</h3>
        <br>
        <% deployment_results.each do |sql_result| %>
          <div class="executed_sql_box">
            <% if sql_result[:success] %>
              <% if sql_result[:run] %>
                <h4 class="success">Executed <%=h sql_result[:sql_script][:source] %> successfully</h4>
              <% else %>
                <h4 class="notice">Script <%=h sql_result[:sql_script][:source] %> NOT executed due to previous errors</h4>
              <% end %>
            <% else %>
              <h4 class="error">Failed to execute <%=h sql_result[:sql_script][:source] %></h4>
            <% end %>
            <% unless sql_result[:success] %>
              <div class="box error"><%= sql_result[:msg] %></div>
              <% end %>
            <div class="executed_sql">
              <pre class=" brush: sql"><%=h sql_result[:sql_script][:sql] %></pre>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
