<%= render :partial => 'shared/form_error', :locals => {:f => f} %>
<div>
  <p>
    <%= f.label :update_sql, 'Update SQL' %><br />
    <%= f.text_area :update_sql, :class => 'span-23 sql' %>
  </p>
</div>

<hr />

<div>
  <div class="span-11 colborder">
      <%= f.label :preparation %><br />
      <%= f.text_area :preparation, :class => 'span-11' %>
  </div>
  <div class="span-11 last">
      <%= f.label :rollback_sql, 'Rollback SQL' %><br />
      <%= f.text_area :rollback_sql, :class => 'span-11' %>
  </div>
</div>

<%= hidden_field_tag 'version[schema]', f.object.activity.schema %>

<% unless f.object.new_record? %>
  <hr class="space" />
  <hr />
  
  <div>
    <div>
      <%= label_tag :schema_version, 'Schema Version' %><br />
      <%= text_field_tag 'schema_version_major', f.object.schema_revision.major, :size => 2 %> .
      <%= text_field_tag 'schema_version_minor', f.object.schema_revision.minor, :size => 2 %> .
      <%= text_field_tag 'schema_version_patch', f.object.schema_revision.patch, :size => 2 %>
    </div>
  </div>
<% end %>

<hr class="space" />
<hr />