<%= render :partial => 'shared/form_error', :locals => {:f => f} %>

<%= hidden_field_tag 'version[schema]', f.object.activity.schema %>

<div class="span-22">
  <p>
    <%= f.label :update_sql, 'Update SQL' %><br />
    <%= f.text_area :update_sql, :class => 'span-22 sql last' %>
  </p>
</div>

<div class="span-22 last">
    <%= f.label :rollback_sql, 'Rollback SQL' %><br />
    <%= f.text_area :rollback_sql, :class => 'span-22 sql last' %>
</div>

<hr />

<div>
  <div class="span-22 last">
      <%= f.label :preparation, 'Preperation (human readable)' %><br />
      <%= f.text_area :preparation, :class => 'span-22' %>
  </div>
</div>

<hr class="space" />
<hr />
  
<div>
  <div class="span-5">
    <%= label_tag :schema_version, 'Schema Version Type' %><br />
    <%= select_tag(:version_type, options_for_select([['Major', :major], ['Minor', :minor], ['Patch', :patch]], :minor)) %>
  </div>
  
  <div class="span-5">  
    <strong>Current latest</strong><br>
    <span class="current_version"><%= @current_lastest %></span>
  </div>
  
  <div class="span-5 last">  
    <strong>New version number</strong><br>
    <%= text_field_tag 'new_version[major]', new_version.major, :size => 2, :maxlength => 4 %>_<%= text_field_tag 'new_version[minor]', new_version.minor, :size => 2, :maxlength => 4 %>_<%= text_field_tag 'new_version[patch]', new_version.patch, :size => 2, :maxlength => 4 %>
  </div>
</div>

<hr class="space" />
<hr />