<table>
  <thead>
  <tr>
    <th>DB Instance</th>
    <th>Schema</th>
    <th>Source Type</th>
    <th>Source Path</th>
	<th></th>
  </tr>
  </thead>

  <% @db_deploys.each do |db_deploy| %>
    <tr class="db_instance <%= h db_deploy.db_instance.db_env %> <%= cycle 'odd', 'even' %>">
    <td><%= link_to db_deploy.db_instance, db_instance_path(db_deploy.db_instance), { :class => 'dbi_link'} %></td>
    <td><%=h db_deploy.db_schema %></td>
    <td><%=h db_deploy.src_type %></td>
    <td><%=h db_deploy.src_path %></td>
      <td>
        <ul class="actions">
          <li class="destroy"><%= link_to 'Delete', db_deploy, :method => :delete %></li>
          <li><%= link_to 'Deploy', db_deploy %></li>
          <li><%= link_to 'Edit', edit_db_deploy_path(db_deploy) %></li>
        </ul>
      </td>
    </tr>
  <% end %>
</table>


