
<% if @deployment_results %>
  <div class="span-22 last">
    <% content_for :view_external_js do %>
      <%= javascript_include_tag "syntaxhighlighter/shCore", "syntaxhighlighter/shBrushSql" %>
      <%= javascript_include_tag "jquery/jquery.scrollfollow" %>
    <% end %>

    <% if @run_successfull %>
      <div class="box success">SQL successfully deployed to database</div>
    <% else %>
      <div class="box error">Failed to deploy SQL to database (scripts may hasve been partially executed, see below)</div>
    <% end %>
  
    <% if @deployment_results.count > 0%>
    <div class="box">
      <div id="sql_show_controls_div"> <a id="sql_show_controls" onclick="sql_show_controls();">Show SQL</a></div>
      <h3>SQL deployment results</h3>
      
      <div id="deployed_sql">
        <% @deployment_results.each do |sql_result| %>
          <br>
          <% if sql_result['success'] %>
            <% if sql_result['run'] %>
              <h3 class="success">Executed <%=h sql_result['sql_script']['file'] %> successfully</h3>
            <% else %>
              <h3 class="notice">Script <%=h sql_result['sql_script']['file'] %> NOT executed due to previous errors</h3>
            <% end %>
          <% else %>
            <h3 class="error">Failed to execute <%=h sql_result['sql_script']['file'] %></h3>
          <% end %>
          <% unless sql_result['success'] %>
            <div class="box error"><%= sql_result['msg'] %></div>
            <% end %>
          <pre  class="brush: sql">
            <%=h sql_result['sql_script']['sql'] %>
          </pre>
        <% end %>
      </div>
    </div>
    <% end %>
    
  </div>
<% end %>

<div class="span-22 last">
  <fieldset>
    <legend>Database deployment</legend>
      <div class="span-8">
        <p>
          <b>Database Instance:</b>
          <%= link_to @db_deploy.db_instance, @db_deploy.db_instance %>
        </p>
        
        <p>
          <b>Current version:</b>
          <%=h @current_version %>
        </p>
      </div>

      <div class="span-14 last">
        <p>
          <b>Source Type:</b>
          <%=h @db_deploy.src_type %>
        </p>
        
        <p>
          <b>Source URL:</b>
          <%=h @db_deploy.src_path %>
        </p>
      </div>
    <div>   
    
    <br>
    
    <div class="span-22 last">
      <div class="span-11">
        <fieldset>
          <legend>Update</legend>        
            <% form_tag(deploy_update_db_deploy_path(@db_deploy), :method => :put) do %>
              <p>
                <%= label_tag 'Target version' %><br />
                <%= select_tag(:target_version, options_for_select(@update_versions)) %>
              </p>
              <p>
                <%= submit_tag 'Deploy update' %>
              </p>
            <% end %>
          </fieldset>
        </div>
    
        <div class="span-11 last">
          <fieldset>
            <legend>Rollback</legend>        
            <% form_tag(deploy_rollback_db_deploy_path(@db_deploy), :method => :put) do %>
              <p>
                <%= label_tag 'Target version' %><br />
                <%= select_tag(:target_version, "<option value='0_0_0'>clean</option>" << options_for_select(@rollback_versions)) %>
              </p>
              <p>
                <%= submit_tag 'Deploy rollback' %>
              </p>
            <% end %>
          </div>
        </fieldset>
      </div>
  </fieldset>
<div>
