
<div class="span-24 last">
 <fieldset>
  <legend>Update</legend>        
    <%= form_tag(instance_schema_app_deploy_path(@app, @schema[:name], @db_instance), :method => :post) do %>
      <div class="span-12 last">
        <p>
          <%= label_tag 'Target schema' %><br />
          <%= text_field_tag(:target_schema) %>
          <br>
        </p>
        <p>
          <%= render :partial => 'shared/db_credentials_form' %>
          <br><br>
        </p>
        <p>
          <%= submit_tag 'Set credentials', :class => 'clean_button' %>
        </p>
      </div>
    <% end %>
  </fieldset>
<div>
