<% content_for :view_external_js do %>
  <%= javascript_include_tag "syntaxhighlighter/shCore", "syntaxhighlighter/shBrushSql" %>
<% end %>

<div class="messages">
  <div id="deploy_notice" class="box success"></div>
  <div id="deploy_error" class="box error"></div>
</div>

<% if @deployment_results %>
  <div class="span-24 last">
    <% if @deployment_results.count > 0%>
      <div class="box">
        <h3>SQL deployment results</h3>
        <br>
        <% @deployment_results.each do |sql_result| %>
          <div class="executed_sql_box">
            <% if sql_result[:success] %>
              <% if sql_result[:run] %>
                <h4 class="success">Executed <%=h sql_result[:sql_script][:file] %> successfully</h4>
              <% else %>
                <h4 class="notice">Script <%=h sql_result[:sql_script][:file] %> NOT executed due to previous errors</h4>
              <% end %>
            <% else %>
              <h4 class="error">Failed to execute <%=h sql_result[:sql_script][:file] %></h4>
            <% end %>
            <% unless sql_result[:success] %>
              <div class="box error"><%= sql_result[:msg] %></div>
              <% end %>
            <div class="executed_sql">
              asdfsadf asdfas fdas fdasdf
              <pre class=" brush: sql">
                <%=h sql_result[:sql_script][:sql] %>
              </pre>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="span-24 last">
  <fieldset>
    <legend>Deploy</legend>
      <div class="span-11">
        <% if @version_info.last %>
          <p>
            <b>Current deployed version:</b> <%=h @version_info.last.to_s %>
          </p>
          <p>
            <b>Version creation date:</b> <%=h Time.at(@version_info.last.created).strftime('%Y-%m-%d %H:%M') %>
          </p>
          <p>
            <b>Version description:</b> <%=h @version_info.last.description %>
          </p>
        <% else %>
          <p>
            <b>Current deployed version:</b> <em>none</em>
          </p>
        <% end %>
      </div>

      <div class="span-11 last">
        <div id="deployed_versions_box">
          <p>
            <b>All deployed versions:</b> <%=h @version_info.count %> versions
          </p>
          <div id="all_deployed_versions">
            <% @version_info.each do |version| %>
              <p>
                <b><%=h version.to_s %></b> (<%=h Time.at(version.created).strftime('%Y-%m-%d %H:%M') %>)
                <br><%=h version.description %>
              </p>
            <% end %>
          </div>
        </div>
              
      </div>
    
    <br>    
    
    <div class="span-22 last">
      <div class="span-11">
        <%= render :partial => 'update_fieldset', :locals => {:update_versions => @update_versions } %>
      </div>
    
      <div class="span-11 last">
        <%= render :partial => 'rollback_fieldset', :locals => {:rollback_versions => @rollback_versions } %>
        <%= render :partial => 'wipe_fieldset' %>
      </div>
  </fieldset>
<div>
