<%= render :partial => 'shared/form_error', :locals => {:f => f} %>

<script type="text/javascript">
  brazil.form.update({
    trigger_element: 'input#activity_schema', 
    trigger_event: 'blur',
    target_element: '#activity_base_version', 
    url: '/apps/<%= app.id %>/activities/base_versions', 
    success: function(){
      var selected = $("select#activity_base_version option").size()-1;
      selected = selected < 0 ? 0 : selected;
      $("select#activity_base_version").get(0).selectedIndex = selected;
    }, 
    error: function(){
      brazil.flash.error();
    }, 
  });
</script>

<p>
  <span><strong>App</strong><br /> <%=h app %></span>
</p>
<p>
  <%= f.label :name, 'Activity (CR, Project, etc.)' %><br />
  <%= f.text_field :name, :class => 'span-6' %>
</p>
<p>
  <%= f.label :description, 'Description (used for the schema version table)' %> <br />
  <%= f.text_area :description, :class => 'span-10' %>
</p>
<div class="span-10 last">
  <div class="span-5">
    <%= f.label :schema, 'Schema Name' %> (Case sensitive)<br />
    <%= f.text_field :schema, :class => 'span-5' %>
    <br/>
    <div class="tip">Selecting a schema name will automatically load any previous versions into the "base version" select box.</div>
  </div>

  <div class="span-5 last">
    <%= f.label "db_instance_id", "Schema type" %><br />
    <%= f.select :db_type, DbInstance.db_types, {:include_blank => '-- Select --'}, {:class => 'span-5'} %>
    
    <%= f.label "base_version" %><br />
    <%= f.select :base_version, base_versions, {:include_blank => '-- Select --'}, {:class => 'span-5'} %>
  </div>
</div>

<hr class="space" />

<div class="span-10 last">
  <h4>Development</h4>
  
  <div class="span-5">
    <%= f.label "db_instance_ids", "Dev Database Instance" %><br />
    <%= f.collection_select :db_instance_id, DbInstance.env_dev, :id, :to_s, {:include_blank => '-- Select --'}, {:class => 'span-5'} %>
  </div>
  <div class="span-5 last">
    <%= f.label :schema, 'Dev Database Schema' %><br />
    <%= f.text_field :dev_schema, :class => 'span-5' %>
  </div>
  
  <div class="span-5">
    <%= f.label :schema, 'Dev User' %><br />
    <%= f.text_field :dev_user, :class => 'span-5' %>
  </div>
  <div class="span-5 last">
    <%= f.label :schema, 'Dev Password' %><br />
    <%= f.password_field :dev_password, :class => 'span-5' %>
  </div>
</div>

<hr class="space" />